.upper 
{
    width: 600px;
    height: 400px;
    border: 2px, solid, black;
}
.a
{
    width: 600px;
    height: 200px;
    background-color:rgb(255, 222, 0) ;
}
.b
{
    width: 600px;
    height: 100px;
    background-color:rgb(0, 56, 149) ;
}
.c
{
    width: 600px;
    height: 100px;
    background-color:rgb(206, 17, 37) ;
}
